APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:xqILBR8hrqpVuDuPJW+V77/+GK5rX+F9YQGpzI7hHG8=
APP_URL=localhost:8000

DB_CONNECTION="mysql"
DB_HOST="localhost"
DB_PORT=3306
DB_DATABASE="tips_db"
DB_USERNAME="usuario"
DB_PASSWORD="password"

APP_LOG_LEVEL=info

DATA_FROM_PRODUCTION='false'
SAMTECH_SEND_MAIL='false'